{% extends "fragments/base.html" %}
{% block title %}Lista de Álbumes{% endblock %}

{% block content %}
    <h1>🎵 Mis Álbumes de Música</h1>
    
    <div style="margin-bottom: 20px;">
        <a href="/albumes/new" class="button">➕ Añadir Nuevo Álbum</a>
    </div>

    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th>ID</th>
                <th>TITULO</th>
                <th>ARTISTA</th>
                <th>GÉNERO</th>
                <th>LANZAMIENTO</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for album in albumes %}
            <tr>
                <td>{{ album.id }}</td>
                <td><strong>{{ album.nombre }}</strong></td>
                <td>{{ album.artista }}</td>
                <td>{{ album.genero }}</td>
                <td>{{ album.fecha_lanzamiento }}</td>
                <td>
                    <a href="/albumes/{{ album.id }}">Ver detalle</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}